body{
    font-family: 'Raleway', sans-serif;
    background-color:#FFF;
    margin: 0;
}

.container{
display: flex; 
flex-direction: row; 
align-items: center;
justify-content:space-between;

}

.logo{
     display: flex;
     height: 80px; 
     margin-left: 20px;  
}

.menu nav{
    display: flex;
    justify-content: flex-end;
   
   
}


h1{
 font-size: 18px;
 margin-left: 20px;
}

.p{
 margin-left: 20px;
}

.filtres-ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
}

.hébergements{
    display: flex;
    flex-direction: row;
   
  
  
}
img{
    width: 180px;
    height: 100px;
}





